name: My First Action

on: push

jobs: 
  greet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: echo "Yes, First Action is working Fine."
      - run: echo "Good work."